header {
	height: 50px;
	display: contents;
	justify-content: center;
}

header .image-container {
	padding: 5rem 0;
	display: block;
	width: auto;
	height: auto;
}

header nav a{
	color: black;
}

header ul {
	list-style: none;
}

header nav ul{
	display: flex;
	justify-content: center;
}

header ul li {
	padding-right: 20px;
}

.conteudo {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
}

.container {
	width: 40%;
	display: block;
	margin: 10px;
	padding: 10px;
	background-color: rgba(25, 25, 25, 0.08);
	border: 1px solid black;
	border-radius: 10px;
}

.titulo {
	display: flex;
	justify-content: center;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}

.texto-centro {
	text-align: center;
	position: relative;
	font-size: 20px;
}

h2.texto-centro {
	padding: 1rem 0;
	margin: 1rem 0;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 2rem !important;
	color: #1c45ac;
}

.texto-secao {
	padding: 15px;
	display: flex;
	justify-content: center;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	margin: 5px;
}

.image-container {
	overflow: hidden;
}

.image-container img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 60%;
}

.exemplo img {
	width: 100%;
	height: 100%;
}

.imagem-pequena {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}

.exemplo-xavier {
	justify-content: center;
}

.exemplo-xavier .container {
	width: 20%;
	padding: 20px;
}

.exemplo-xavier .imagem-container {
	display: flex;
	justify-content: center;
}